@import "./variables.scss";
@import "./mixins.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
}

input[type="number"],
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}
