//colors-names
$ghostly-white: #f6f7ff;
$light-grey: #e0e1ea;
$black: #1f1e25;
$blue: #2c36f2;
$medium-blue: #2027b3;
$royal-blue: #3640fe;
$slategray: #707c87;

//colors-types
$primary-color: $blue;
$bg-color: $ghostly-white;
$font-color: $black;
$font-color-light: $ghostly-white;
$font-color-semi-light: $light-grey;
$font-color-footer: $slategray;
$bg-promo-color-1: $royal-blue;
$bg-promo-color-2: $medium-blue;
$border-form: $black;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
